<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noob.module.oj.mapper.QuestionSubmitMapper">

    <resultMap id="BaseResultMap" type="com.noob.module.oj.model.questionSubmit.entity.QuestionSubmit">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="judgeInfo" column="judgeInfo" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="questionId" column="questionId" jdbcType="BIGINT"/>
        <result property="creater" column="creater" jdbcType="BIGINT"/>
        <result property="updater" column="updater" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,language,code,
        judgeInfo,status,questionId,
        creater,updater,createTime,updateTime,
        isDelete
    </sql>


    <!-- 映射关系定义 -->
    <resultMap id="getVOMap" type="com.noob.module.oj.model.questionSubmit.vo.QuestionSubmitVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="judgeInfo" column="judgeInfo" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="questionId" column="questionId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>

        <!-- 冗余字段createrName：对应列名为createrName -->
        <result property="userName" column="userName" jdbcType="VARCHAR"/>

        <!-- 其他字段映射... -->

    </resultMap>

    <sql id="getVO">
        select
            qs.*,
            cu.userName 'userName'
        from question_submit qs
        left join user cu on cu.id = qs.userId
        where 1=1 and qs.isDelete = 0
    </sql>

    <select id="getVOById" resultMap="getVOMap">
        <include refid="getVO"></include>
        and qs.id = #{id}
    </select>

    <select id="getVOByPage" resultMap="getVOMap">
        <include refid="getVO"></include>
        <if test="params.language !=null and params.language !=''">
            and qs.language = #{params.language}
        </if>
        <if test="params.code !=null and params.code !=''">
            and qs.code = #{params.code}
        </if>
        <if test="params.status !=null and params.status !=''">
            and qs.status = #{params.status}
        </if>
        <if test="params.questionId !=null and params.questionId !=''">
            and qs.questionId = #{params.questionId}
        </if>
    </select>
</mapper>
