<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noob.module.oj.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.noob.module.oj.model.entity.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
        <result property="submitNum" column="submitNum" jdbcType="INTEGER"/>
        <result property="acceptedNum" column="acceptedNum" jdbcType="INTEGER"/>
        <result property="judgeCase" column="judgeCase" jdbcType="VARCHAR"/>
        <result property="judgeConfig" column="judgeConfig" jdbcType="VARCHAR"/>
        <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
        <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
        <result property="creater" column="creater" jdbcType="BIGINT"/>
        <result property="updater" column="updater" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 映射关系定义 -->
    <resultMap id="getVOMap" type="com.noob.module.oj.model.vo.QuestionVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
        <result property="submitNum" column="submitNum" jdbcType="INTEGER"/>
        <result property="acceptedNum" column="acceptedNum" jdbcType="INTEGER"/>
        <result property="judgeCase" column="judgeCase" jdbcType="VARCHAR"/>
        <result property="judgeConfig" column="judgeConfig" jdbcType="VARCHAR"/>
        <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
        <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
        <result property="creater" column="creater" jdbcType="BIGINT"/>
        <result property="updater" column="updater" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>

        <!-- 冗余字段createrName：对应列名为createrName -->
        <result property="createrName" column="createrName" jdbcType="VARCHAR"/>
        <result property="updaterName" column="updaterName" jdbcType="VARCHAR"/>
        <!-- 其他字段映射... -->

    </resultMap>


    <sql id="Base_Column_List">
        id
        ,title,content,
        tags,answer,submitNum,
        acceptedNum,judgeCase,judgeConfig,
        thumbNum,favourNum,creater,updater
        createTime,updateTime,isDelete
    </sql>

    <sql id="getVO">
        select
            q.*,
            cu.userName 'createrName',
            uu.userName 'updaterName'
        from question q
        left join user cu on cu.id = q.creater
        left join user uu on uu.id = q.updater
        where 1=1
    </sql>

    <select id="getVOById" resultMap="getVOMap">
        <include refid="getVO"></include>
        and q.id = #{id}
    </select>

    <select id="getVOByPage" resultMap="getVOMap">
        <include refid="getVO"></include>
        <if test="params.title !=null and params.title !=''">
            and q.title like concat('%',#{params.title},'%')
        </if>
        <if test="params.content !=null and params.content !=''">
            and q.content like concat('%',#{content},'%')
        </if>
    </select>
</mapper>
